:root {
  --dark: rgb(31, 44, 71);
  --light: rgb(233, 231, 200);
  --success: rgb(53, 175, 53);
  --danger: rgb(255, 0, 0);
  color: var(--light);
  background-color: var(--dark);
}

a {
  color: var(--light);
}

a:hover {
  color: var(--success);
  transition: all 0.5s;
}

button {
  padding: 5px;
  border-radius: 7px;
  border: 1px solid var(--dark);
  font-size: 20px;
  font-weight: bold;
}

button.success {
  background-color: var(--success);
  transition: all 0.5s;
  cursor: pointer;
}

button.success:hover {
  border: 1px solid var(--light);
  text-decoration: underline;
}

button.danger {
  color: var(--danger);
  background-color: var(--light);
  border: 1px solid var(--danger);
  transition: all 0.5s;
  cursor: pointer;
}

button.danger:hover {
  color: var(--dark);
  background-color: var(--danger);
}

input {
  font-size: 18px;
  padding: 5px;
}

nav {
  display: block;
}

nav a {
  display: inline-block;
  margin: 5px;
  font-size: 24px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}